/* Make post listing use full width */
.layout--posts .initial-content,
.layout--posts .archive {
  max-width: none;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.layout--collection .initial-content,
.layout--collection .archive {
  max-width: none;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Make post listing use full width */
.layout--tags .initial-content,
.layout--tags .archive {
  max-width: none;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}


/* Make post listing use full width */
.layout--tags2 .initial-content,
.layout--tags2 .archive {
  max-width: none;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Make post listing use full width */
.layout--categories .initial-content,
.layout--categories .archive {
  max-width: none;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Make post listing use full width */
.layout--categories2 .initial-content,
.layout--categories2 .archive {
  max-width: none;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}


/* Make post listing use full width */
.layout--single .initial-content,
.layout--single .page {
  max-width: none;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Make the intro feature row span full width */
.layout--splash .initial-content .feature__wrapper:first-of-type .feature__item {
  max-width: none;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Make the intro feature row span full width */
.layout--splash .initial-content .feature__wrapper:last-of-type .feature__item {
  max-width: none;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

